.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #fff; }

.message-wrapper {
  text-align: center;
  color: black; }

.logo {
  display: block;
  width: 25vw;
  margin: 0 0 20px 0; }

.home-message {
  display: block; }

.logo-wrapper {
  max-width: 300px;
  margin-bottom: 20px;
}

#fb-logo path {
  fill: black;
}
